<div class="row">
    <div class="cols">
        <ul>
            <li><a href="./ayuda">Ayuda</a></li>
            <li><a href="./acerca">Acerca de</a></li>
            <li><a href="./legales">Legales</a></li>
        </ul>
    </div>
    <div class="cols">
        Copyright © 2022 Nidea - Av. Binaria 1100, CP S3000, Santa Fe, Argentina
    </div>
    <div class="cols">
        <a href="https://twitter.com">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://instagram.com">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://facebook.com">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        </a>
    </div>
</div>