<div id="navbar">
    <a href="/"><img class="icon" src="../../public/img//Logo.png" alt="Logo"></a>
    <a class="navbar-link" href="./contacto">Contacto</a>
    <a class="navbar-link" href="./nosotros">Nosotros</a>
    <a class="navbar-link" href="/">Incio</a>
</div>